<div class="card-content">
    <ul class="collection">
        <% counter = 1 %>
        <% @markers.each do |marker| %>
        <% @event.users.each do |user| %>
        <% if user.id == marker["id"] %>
        <% @this_user = user %>
        <% end %>
        <% end %>
        <%= render :partial=>"events/user_preview", :locals => {:this_user => @this_user, :marker => marker, :counter => counter} %>
        <% counter += 1 %>
        <% end %>
    </ul>
</div>
