<div id = "new_event_type">
  <div class="row">
    <div class="col s12 event_types z-depth-5" id="nonending">
      <h5>Non-ending event</h5>
      <p>
        There is no end date for the event. It measures how much time it takes for participants to walk from origin to destination.
      </p>
    </div>
    <div class="col s12 event_types z-depth-5" id="regular">
      <h5>Regular event</h5>
      <p>
        This event type shows how far participants have walked in a given time frame from origin to destination.
      </p>
    </div>
    <div class="col s12 event_types z-depth-5" id="scaled">
      <h5>Scaled event</h5>
      <p>
        There is a scale in place, scaling your steps such that if you walk 10,000 steps everyday you will finish the event exactly by the finish date of the event.
      </p>
    </div>
    <h5 class="col s12 z-depth-5" id="selected_event"></h5>
  </div>

</div>
