<h1>Listing Events</h1>

<table>
  <%= render :partial=>"layouts/events_tablehead" %>

  <tbody>
    <% @events.each do |event| %>
      <%= render :partial=>"layouts/events_listing", :locals => {:event => event} %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %> |
<%= link_to 'Dashboard', dashboard_path %>
