<% provide(:title, "My Events") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
            <%= render :partial=>"layouts/sidenav" %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                My Events
            </div>
            <% if @participating_events.present?%>
            <ul class="collection">
                <% @participating_events.each do |event| %>
                <%= link_to render(:partial=>"events/events_preview", :locals => {:event => event, :subset => 'participating_events'}), event %>
                <% end %>
            </ul>
            <% end %>
        </div>
    </div>
</div>
