<% provide(:title, "New Event") %>

<%= render :partial=>"layouts/header" %>

<div class="container">
    <div class="row">
        <div class="profile col s2">
            <%= render :partial=>"layouts/profile", :locals => {:user => @user} %>
        </div>
        <div class="feed col s9 offset-s1">
            <div class="feed-title">
                New Event
            </div>

            <%= render 'form' %>

            <%= render 'create_event_map' %>

        </div>
    </div>
</div>
