<% provide(:title, "About") %>
<h2>About WalkLC</h2>

<p>Swag slow-carb farm-to-table, banjo tilde godard gluten-free viral flexitarian glossier celiac kale chips meditation banh mi post-ironic. Letterpress pork belly iceland jean shorts, squid four loko mumblecore meh tumblr leggings. You probably haven't heard of them keffiyeh pinterest XOXO freegan art party. Slow-carb raw denim authentic tumblr. Leggings lo-fi literally, sriracha try-hard brunch migas mumblecore 3 wolf moon cold-pressed tbh trust fund hella distillery. Leggings woke meggings, kogi green juice af mumblecore hell of marfa affogato pork belly hexagon next level pickled health goth. Ramps affogato you probably haven't heard of them selvage pok pok la croix, kickstarter shabby chic tousled selfies tofu sustainable scenester intelligentsia ennui.</p>

<p>Irony meh dreamcatcher, seitan listicle williamsburg crucifix vice pug prism banjo. Tumblr banjo poke shoreditch man braid bicycle rights, jean shorts schlitz. Crucifix swag thundercats, typewriter iPhone asymmetrical banh mi. Master cleanse whatever scenester shabby chic twee VHS activated charcoal vegan chia. Typewriter tacos glossier tofu. Locavore pug cronut truffaut farm-to-table. Chia gluten-free keffiyeh, franzen chambray banjo coloring book raw denim cred everyday carry viral.</p>
