<% provide(:title, "Home") %>
<div class="home"></div>
<div class="message">
    <div class="brand">WalkLC</div>
    <%= link_to events_path, :class => "btn-large waves-effect orange black-text" do %>
    <i class="material-icons left">today</i>Events
    <% end %>
    <%= link_to "/users/auth/fitbit", :class => "btn-large waves-effect orange black-text" do %>
    <i class="material-icons left">person_pin</i>Login
    <% end %>
    <%= link_to about_path, :class => "btn-large waves-effect orange black-text" do %>
    <i class="material-icons left">info_outline</i>About
    <% end %>
</div>
