.card {
  .card-content {
    padding-top: .5rem;
  }

  form {
    display: inline-block;

    .join-button {
      background: none;
      border: 0;
      color: orange;
      cursor: pointer;
      text-transform: uppercase;
    }
  }

  .collection {
    margin-top: 1rem;
  }
}
