span.badge {
  margin-left: .75rem;
  padding: 4px 6px;
  position: relative;
}

.achievement-heading {
  color: black;
  font-size: 1.2rem;
  font-style: italic;
  font-variant: small-caps;
  font-weight: bold;
  padding-top: 1rem;
  text-align: center;
}
