.card {
  form {
    display: inline-block;

    .join-button {
      background: none;
      border: 0;
      cursor: pointer;
      text-transform: uppercase;
      color: orange;
    }
  }

  .collection {
    margin-top: 2rem;
  }
}
