.card-avatar{
  float:left;

  img {
    width: 50px;
    height: auto;
  }

}

.team-card-avatar{
  float: left;
}

.card-name{
  margin-left: 20px;
  font-size: 1.5em !important;
}

.clear{
  clear: both;
}

.stats{
  padding-top: 20px;
  font-size: 1.3em;

  i{ vertical-align: middle !important;}

}

.stat-name{
  font-size: 1.7em;
  background-color: #37474f;
  width: 100%;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
}
