.profile {
  .username {
    font-size: 1.5rem;
    font-variant: small-caps;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  i {
    font-size: 1.7rem;
  }

  a {
    font-weight: bold;
    margin: .5rem 0;
    width: 100%;
  }

  img {
    width: 100%;
  }
}
