<p class="username"><%= @user.name %></p>
<p class="avatar"><%= image_tag @user.avatar.url, :class => 'z-depth-2' %></p>
<%= link_to dashboard_path, :class => "btn waves-effect orange black-text" do %>
<i class="material-icons right">dashboard</i>Dashboard
<% end %>
<%= link_to destroy_user_session_path, :method => :delete, :class => "btn waves-effect orange black-text" do %>
<i class="material-icons right">exit_to_app</i>Logout
<% end %>
<hr/>
